# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/

*/node_modules
*/www/
*/platforms/
*/resources/android
*/resources/ios
*/resources/wp8
*/plugins/
*/.gradle
*/src/app/environment.ts
*/.sass-cache/
*/dist/
*/.versions/
*/coverage/
*/tmp/
*/temp/
*/hooks/
*/platforms/
*/plugins/
*/plugins/android.json
*/plugins/ios.json

*.swp
.DS_Store
Thumbs.db

*.pyc
__pycache__/
api/server/__pycache__/
api/*.egg-info/

db/dev/
*.apk

admin/environment.js
